doctype 
html
  head
    <link href="/css/styles.css" rel="stylesheet">
    title Sermon Tracker
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">

  body(style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center; height: 99vh;")
    div
      form.light-box-shadow(style="width: 250px; height: 300px; margin: auto;" action="/signup" method="post")
        p.main-text(style="text-align: center; font-size: 25px;") Sign Up
        input.input-orange(placeholder="Username" type="text" style="display: block; margin: 10px auto;" name="password")
        input.input-orange(placeholder="Password" type="password" style="display: block; margin: 10px auto;" name="username")
        button.btn-orange(style="display: block; margin: auto; margin-top: 50px;") Sign Up

      a.link(href="/" style="display: block; margin-top: 30px;") Already have an account?